body {
    min-height: 100vh;
    width: 75%;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0%;
}

label, input {
    display: block;
    clear: both;
}

input {
    margin-bottom: 2%;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#button-login {
  margin: auto;
}

#dashboard, #completed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.application-section {
    border: 1px solid red;
    min-height: 33%;
    padding: 1rem;
    overflow-x: scroll;
}

.app-box {
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    max-width: 15%;
    max-height: fit-content;
    float: left;
}

.react-router-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

.react-router-nav ul {
    padding-inline-start: 0%;
    width: 100%;
}

.react-router-nav li {
    flex-grow: 1;
    float: left;
    width: 25%;
    list-style-type: none;
    text-align: center;
}

#form-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

#button-delete {
    display: block;
    float: right;
}

